<div class="container-fluid" style="padding: 0!important;">
  <div class="row" style="margin-top: 28px;">
    <!--  Blog content-->
    <div class="col-xl-9">
      <div *ngFor="let blogPost of blogPosts" (click)="getAllCommentsBySelectedBlog(blogPost)"
           class="list-group-item list-group-item-action">
        <div class="card" style="width: 100%;margin: 3px">
          <div class="card-body">
            <h5 class="card-title">{{blogPost.title}}
              <br class="pull-right">by {{blogPost.username}}<a class="text-black-50"> {{blogPost.dateCreated}}</a><br>
            </h5>
            <p class="card-text">{{blogPost.body}}</p>
            <a href="#" class="btn-sm btn-warning pull-right"
               (click)="toggleCommentBar($event)">
              <i class="fa fa-comment"></i></a>
          </div>
        </div>
        <div *ngIf="isComment && (selectedBlogPost.blogId === blogPost.blogId)">
          <input type="text" class="form-control" [(ngModel)]="commentText"
                 style="margin-bottom: 5px;margin-top: 5px; margin-left: 3px"
                 (keyup.enter)="createComment(commentText, $event)">
        </div>
      </div>
    </div>

    <!--    Comments-->
    <div class="col" >
      <div class="makescroll">
        <div *ngFor="let comment of comments" class="list-group-item card"
             style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">@{{comment.username}}</h5>
            <p class="card-text">{{comment.text}}</p>
            <a class="text-info pull-right">{{comment.likes}}</a>
            <i class="fa fa-thumbs-up btn-sm btn-info pull-right"
               style="margin-right: 5px;"
               (click)="increaseLike(comment)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
