<div class="container">
  <!-- Blog menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-8">
      <input type="text"
             class="form-control"
             style="width: 100%;"
             placeholder="Search blogs...">
    </div>
    <div class="col-md-4">
      <button type="buton"
              class="btn btn-warning pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New Comment
      </button>
      <button type="button" routerLink="/editor"
              class="btn btn-primary pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New Blog Post
      </button>
    </div>
  </div>
  <!--  Blog content-->
  <div class="row" style="margin-top: 28px;">
    <div class="col">
      Other blogs
    </div>
    <div class="col-6">
      <div *ngFor="let blogPost of blogPosts" (click)="selectBlogPost(blogPost)"
           class="list-group-item list-group-item-action">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{blogPost.title}}</h5>
            <p class="card-text">{{blogPost.body}}</p>
            <a href="#" class="btn-sm btn-danger pull-right">
              <i class="fa fa-trash"></i>Delete</a>
            <a href="#" class="btn-sm btn-success pull-right">
              <i class="fa fa-edit"></i>Edit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
<!--      <div *ngFor="let blogPost of blogPosts"  class="list-group-item card"-->
<!--           style="width: 100%;">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">{{blogPost.title}}</h5>-->
<!--          <p class="card-text">{{blogPost.body}}</p>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
