<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <i class="fa fa-blog text-warning"></i>
  <a class="navbar-brand" href="#">
    <span class="text-warning"> BlogPost</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isUserLoggedIn" routerLink="/view">Blogs</a>
      </li>
    </ul>
  </div>
  <span class="col-md-6">
      <input type="text"
             class="form-control"
             style="width: 100%;"
             placeholder="Search blogs...">
  </span>
  <div class="col">
    <button *ngIf="isUserLoggedIn"
            type="button" routerLink="/editor"
            class="btn btn-primary pull-right"
            style="margin-left:12px;"><i class="fa fa-edit"></i> New
    </button>
  </div>
  <a class="nav-link" routerLink="/signup" *ngIf="!isUserLoggedIn">Sign Up</a>
  <a class="nav-link" routerLink="/login" *ngIf="!isUserLoggedIn">Login</a>
  <a class="text-warning" style="margin-right: 5px;" *ngIf="isUserLoggedIn">Welcome {{username}}!</a>
  <button type="button" class="btn-warning" (click)="loggOut()" *ngIf="isUserLoggedIn">Logout</button>
</nav>
